html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,
legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,
details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0 auto;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font: 12px "Microsoft YaHei","arial","simhei";
}
input,select,textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: inherit;
}
fieldset,img {
    border: none;
}
iframe {
    display: block;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500;
}
q:before,q:after {
    content: '"';
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
a {
    text-decoration: none;
}
a:focus,*:focus {
    outline: none;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.hide {
    display: none;
}
.block {
    display: block;
}
.fl,.fr {
    display: inline;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.m_t20 {
    margin-top: 20px;
}
.m_t30 {
    margin-top: 30px;
}